.aboutMe{
 display: flex;
 min-width: 100vw;
 margin: 0;
 padding: 0;
 border-top: 10px solid darkgreen;
 background-color: black;
 min-height: 40vh;
 justify-content: space-between;
}


.blurb{
  margin: 0;
  padding: 0;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.description {
  max-width: 60%;
  margin: auto;
}

@media screen and (max-width: 1355px) {
  .aboutMe{
    min-height: 20vh;
  }
  .aboutHeader{
    white-space: nowrap;
    font-size: 2em;
  }
  .blurb{
    margin: .5rem;
  }
}