.aboutMe{
 display: flex;
 border-top: 10px solid darkgreen;
 text-align: center;
 background-color: black;
 min-height: 40vh;
 min-width: 100%;
 justify-content: space-between;
}


.blurb{
  display: flex;
  flex-direction: column;
  padding: 5% 20%;
}

@media screen and (max-width: 1355px) {
  .aboutMe{
    min-height: 20vh;
  }
  .blurb {
      display: flex;
      flex-direction: column;
      padding: 1% 5%;
    }
}