.aboutMe{
  display: flex;
  margin: 0;
  min-width: 100vw;
  min-height: 40vh;
  justify-content: space-between;
}


.blurb{
  margin: 0;
  padding: 0;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.description {
  max-width: 60%;
  margin: auto;
}

@media screen and (max-width: 1355px) {
  .aboutMe{
    margin-top: 15%;
    flex-direction: column;
    min-width: 100vw;
    align-items: center;
  }

  .aboutHeader{
    white-space: nowrap;
    font-size: 2rem;
  }
  
  .blurb{
    min-width: 100%;
    padding: 0;
    margin: 0;
    order: 0;
    padding-bottom: 10%;
  }
}