.formContainer{
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 30vw;
  background-color: rgb(2, 39, 2);
  border-radius: 1rem;
  color: white;
  margin: 1%;
  font-size: 1rem;
}
.formHeading{
  font-size: 2rem;
}
.label{
  display: block;
}
.formInput{
  margin: 3%;
  width: 70%;
}
.textarea {
  width: 70%;
}