.formContainer{
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  min-width: 35vw;
  max-width: 70vw;
  background-color: rgb(2, 39, 2);
  border-radius: 1rem;
  color: white;
  margin: 1%;
  padding: 5%;
  font-size: 1rem;
}
.formHeading{
  font-size: 2rem;
}
.label{
  display: block;
}
.formInput{
  margin: 3%;
  width: 70%;
}
.textarea {
  width: 70%;
}

@media screen and (max-width: 900px) {
  .formContainer{
    width: 100vw;
    justify-content: center;
  }

  .form{
    width: 80vw;
    max-height: 20vh;
  }
}