.contactContainer {
 text-align: center;
 border-top: 5px solid greenyellow;
 color: yellowgreen;
}

.contactHeader{
 font-size: 3rem;
 text-transform: capitalize;
}

.form{
 background-color: yellowgreen;
 color: black;
 display: table;
 margin: auto;
 padding: 2em;
 border: 2px solid yellowgreen;
 font-size: 2rem;
}