.contactContainer {
 text-align: center;
 border-top: 5px solid greenyellow;
 color: yellowgreen;
}

.contactHeader{
 margin: auto;
 padding: 6rem;
 font-size: 3rem;
 text-transform: capitalize;
}

.contactFlex{
 display: flex;
 justify-content: space-evenly;
}

.contactList{
 text-align: start;
 list-style-type: none;
 padding: 0;
}

.contactItem {
 font-size: 2em;
 padding: 1rem;
 padding-left: 0;
}

@media screen and (max-width: 1030px){
 .contactFlex {
  flex-direction: column;
  align-items: center;
 }
}