.footer{
 min-width: 100vw;
 background-image: url('../../../public/pexels-sarah-ann-3164915-7031427.jpg');
 background-position: center;
 display: flex;
 flex-direction: column;
 margin: 0;
 margin-top: 20px;
 padding-top: 2em;
 font-size: 2em;
 color: white;
}

.footerTitle{
 text-align: center;
 font-size: 3rem;
 border-bottom: 10px solid rgba(255, 255, 255, 0.629);
 padding-bottom: 10vh;
}
.credContainer{
 text-align: center;

}

.imageCredList{
 list-style-type: none;
 text-decoration: none;
 border-bottom: 10px solid rgba(255, 255, 255, 0.629);
 padding-bottom: 20vh;
}

.imageCredit{
 text-transform: uppercase;
 text-decoration: none;
 color: white;
}
.imageCred{
 text-decoration: none;
 color: white;
}

.icons{
 display: flex;
 list-style-type: none;
}

.icon{
 margin: auto;
 text-decoration: none;
 color: white;
}

@media screen and (max-width: 1355px) {
  .footer{
    font-size: 100%;
  }
  .footerTitle{
    font-size: 100%;
  }
  .icon{
    font-size: 50%;
  }
}