.footer{
 background-image: url('../../../public/pexels-sarah-ann-3164915-7031427.jpg');
 background-position: 50% 50%;
 display: flex;
 flex-direction: column;
 margin-top: 20px;
 padding-top: 2em;
 font-size: 2em;
 color: white;
}

.footerTitle{
 text-align: center;
}

.credContainer{
 display: flex;
 justify-content: space-evenly;
}

.returnHome{
 margin: auto;
 padding: 2rem;
 margin-bottom: 5em;
}
