.header {
 border-top: 5px solid darkgreen;
 display: flex;
 width: 100vw;
 min-height: 20vh;
 max-height: 35vh;
 flex-direction: column;
 position: relative;
 overflow: hidden;
 background-color: black;
}

.headerTitle{
 padding-left: 1vw;
 color: rgb(8, 124, 8);
 background-color: black;
 margin: auto;
 flex: 1 1 auto;
 text-transform: uppercase;
 font-size: 5em;
}

.headerImage {
 width: 100%;
 object-fit: cover;
 position: absolute;
 animation: scrollImage 8s linear infinite;
}

.navContainer {
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
 background-color: black;
 cursor: text;
 padding-bottom: 0;
 /* position: fixed; */
}

.navItem {
 font-weight: 700;
 color: white;
 background-color: darkgreen;
 margin: 20px;
 flex: 1 1 auto;
 padding: 1%;
 text-align: center;
}

.navItem:hover {
 cursor: pointer;
}

@keyframes scrollImage {
 from {
  top: 100%;
 }

 to {
  top: -100%;
 }
}

@media screen and (max-width: 1355px) {
 .navContainer {
  flex-direction: column;
  justify-content: space-around;
  min-width: 100vw;
 }

 .header {
  min-height: 10vh;
  order: 1;
 }

 .navItem {
  padding: 1rem 1rem;
  max-height: 1vh;
  margin: 1vh 2vw;
  order: 2;
 }

 .header {
  margin: 0;
  padding: 0;
 }
}