.detailsContainer {
 display: flex;
 margin: 0;
 min-width: 20%;
}

.detailsList{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 list-style-type: none;
 text-transform: uppercase;
 white-space: nowrap;
 text-align: start;
 height: 100%;
 width: 100%;
 padding: 0;
 margin: 0;
}
.modal{
  all:unset;
  width: 100%;
  cursor: pointer;
}

.detailItems {
  background-color: rgb(2, 39, 2);
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
  font-stretch: expanded;
  min-width: 90%;
  padding: 5% 15% 5% 2%;
  border: none;
}

@media screen and (max-width: 860px) {
 .detailItems {
  font-size: 1em;
  white-space: wrap;
  }
  .detailItems:nth-child(3){
   font-size: .40rem;
   font-weight: bolder;
  }
}