.detailsContainer {
 display: flex;
 margin: 0;
 min-width: 20%;
}

.detailsList{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 list-style-type: none;
 text-transform: uppercase;
 white-space: nowrap;
 text-align: start;
 height: 100%;
 width: 100%;
 padding: 0;
 margin: 0;
}
.modal{
  all:unset;
  width: 100%;
  cursor: pointer;
}

.detailItems {
  background-color: rgb(2, 39, 2);
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
  font-stretch: expanded;
  min-width: 90%;
  padding: 5% 15% 5% 2%;
  border: none;
}

.detailLink:hover {
    font-size: 1.2rem;
    opacity: 0.8;
  }

@keyframes scale-up {
  from {
    scale: 100% 0;
  }

  to {
    scale: 200% 0;
  }
}
@media screen and (max-width: 1355px) {
.detailsContainer {
    padding: 0;
    margin: 0;
    order: 1;
    width: 100%;
  }
  .detailItems {
    padding: 5% 0;
    padding-left: 1%;
    margin: 0;
    font-size: 100%;
    white-space: wrap;
  }

  .detailLink .detailItems{
    background-color: transparent;
    padding: 5% 0;
    padding-left: 1%;
    margin: 0;
    font-size: 100%;
  }
}
