.detailsContainer {
 display: flex;
 margin: 0;
 margin-bottom: 1rem;
 min-width: 20%;
}

.detailsList{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 list-style-type: none;
 text-transform: uppercase;
 white-space: nowrap;
 text-align: start;
 height: 100%;
 width: 100%;
 padding: 0;
 margin: 0;
}

.detailItems {
 background-color: yellowgreen;
  color: black;
  min-width: 90%;
  padding: 5% 15% 5% 2%;
}

@media screen and (max-width: 860px) {
 .detailsList{
  max-width: 90%;
  margin: 0;
  padding: 0;
 }

 .detailItems {
  font-size: 1em;
  white-space: wrap;
  /* padding: 5%; */
  }
}