.skillsContainer {
 display: flex;
 justify-content: flex-end;
 margin-bottom: 1rem;
 min-width: 20%;
}

.listTitleMobile{
 display: none;
 white-space: nowrap;
 background-color: rgba(2, 35, 2, 0.538);
 font-size: 2rem;
 color: black;
 padding: 5% 0;
 text-align: center;
}

.listTitleWeb {
 white-space: nowrap;
 background-color: rgba(2, 35, 2, 0.538);
 font-size: 2rem;
 color: black;
 padding: 5% 0;
 text-align: center;
}

.skillList {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 list-style-type: none;
 text-transform: uppercase;
 text-align: start;
 font-weight: 800;
 font-size: 1rem;
 font-stretch: expanded;
 height: 100%;
 width: 100%;
}

.skillItems {
 background-color: rgb(2, 39, 2);
 color: white;
 min-width: 90%;
 padding: 5%;
}

@media screen and (max-width: 1355px) {
 .skillsContainer{
  flex-direction: column;
  order: 3;
  min-width: 100%;
 }

 .listTitleWeb{
  display: none;
 }

.listTitleMobile{
  display: block;
  padding: 10% 0;
  margin: 0;
  margin-top: 5%;
  min-width: 100%;
  white-space: nowrap;
 }
 .skillList{
  padding: 0;
  margin: 0;
  min-width: 100%;
 }
}