.projectCard{
  margin: 0;
  padding: 0;
  color: yellowgreen;
  }

.projectTitle {
  margin: 0;
  max-width: 100%;
  padding: 2rem;
  font-size: 2rem;
  white-space: nowrap;
}

.projectLinks {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  min-height: 5vh;
  background-color: aliceblue;
}

@media screen and (max-width: 1450px) {
  .projectTitle {
    padding: 0;
    font-size: 1rem;
  }
}

@media screen and (max-width: 860px) {
  .projectTitle {
    padding: 0;
    font-size: .55rem;
  }

  .projectLinks{
    flex-direction: column;
    white-space: nowrap;
  }
}