.projectCard{
  margin: 0;
  padding: 0;
  color: white;
  }

.projectTitle {
  margin: 0;
  max-width: 100%;
  padding: 2rem;
  font-size: 2rem;
  white-space: nowrap;
}

.projectLinks {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  text-decoration: none;
  min-height: 5vh;
  background-color: aliceblue;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.projectLink{
  color: rgb(2, 39, 2);
  padding: 5% 0;
  font-size: 2rem;
  text-decoration: none;
}

@media screen and (max-width: 1450px) {
  .projectTitle {
    padding: 0;
    font-size: 1rem;
  }
}

@media screen and (max-width: 860px) {
  .projectTitle {
    padding: 0;
    font-size: .55rem;
  }

  .projectLinks{
    flex-direction: column;
    white-space: nowrap;
  }
}