.projectCard{
 color: yellowgreen;
}

.projectsHeader {
 margin: auto;
 font-size: 2rem;
 padding-bottom: 4vh;
 background-color: aliceblue;
}

.projectLinks {
 background-color: aliceblue;
 min-width: 100%;
 min-height: 5vh;
 display: flex;
 justify-content: space-around;
}

@media screen and (max-width: 860px) {
 .projectsHeader {
   font-size: 1em;
  }
 .projectLinks{
  flex-direction: column;
  white-space: nowrap;
  padding: 2%;
 }
}