body {
  margin: 0;
}

.header {
  display: flex;
  width: 100vw;
  min-height: 35vh;
  max-height: 35vh;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: black;
}

h1 {
  z-index: 1000;
  color: rgb(8, 124, 8);
  background-color: black;
  margin: auto;
  flex-grow: 1;
  text-transform: uppercase;
}

.header-image {
  width: 100%;
  object-fit: cover;
  position: absolute; 
  animation: scrollImage 15s linear infinite; 
}

.nav-container {
  display: flex;
  border: 2px solid black;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: black;
  cursor: text;
}

.nav-item {
  font-weight: 700;
  color: white;
  background-color: darkgreen;
  margin: 20px;
  flex: 1 1 auto;
  text-align: center;
}

.nav-item:hover {
  cursor: pointer;
}

@media screen and (max-width: 870px) {
  .nav-container {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .header {
    order: 1;
  }

  .nav-item {
    padding: 1rem 1rem;
    max-height: 1vh;
    margin: 1vh 2vw;
    order: 2;
  }

  h1 {
    margin: 0;
  }
}

@keyframes scrollImage {
  from {
    top: 100%;
  }

  to {
    top: -100%;
  }
}